<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Velkommen til vores sortering's hjemmeside!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
      <link rel="stylesheet" href="../static/css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
      <section class="hero is-primary">
        <div class="hero-body">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                        <div class="navbar-item">
                            <h1 class="title">
                                Velkommen til vores <strong>sortering's</strong> hjemmeside!
                            </h1>
                        </div>
                    </div>
                </div>

        </div>
    </section>
      <br>



<!--
      <div class="progress-wrapper">
          <progress class="progress is-danger is-medium" value="70" max="100">90%</progress>
          <p class="progress-value has-text-black">Antal: 70</p>
        </div>
        <div class="progress-wrapper">
          <progress class="progress is-danger is-medium" value="10" max="100">90%</progress>
          <p class="progress-value has-text-black">Antal: 10</p>
        </div>
        <div class="progress-wrapper">
          <progress class="progress is-danger is-medium" value="20" max="100">90%</progress>
          <p class="progress-value has-text-black">Antal: 20</p>
        </div>
        <div class="progress-wrapper">
          <progress class="progress is-danger is-medium" value="90" max="100">90%</progress>
          <p class="progress-value has-text-black">Antal: 90</p>
        </div>
      <div class="progress-wrapper">
          <progress class="progress is-danger is-medium" value="90" max="100">90%</progress>
          <p class="progress-value has-text-black">Antal: 90</p>
        </div>
        <div class="progress-wrapper">
          <progress class="progress is-danger is-medium" value="90" max="100">90%</progress>
          <p class="progress-value has-text-black">Antal: 90</p>
        </div>
        -->

      <div class="container" style=" position: relative">
        <div class="attendance">
            <p class="title">Red</p>
            <div class="attendance-bar">
                <div class="attendance-level">
                    <div class="bar-1"></div>
                    <div class="bar-2"></div>
                    <div class="bar-3"></div>
                    <div class="bar-4"></div>
                    <div class="bar-5"></div>
                    <div class="bar-6"></div>
                    <div class="bar-7"></div>
                    <div class="bar-8"></div>
                    <div class="bar-9"></div>
                </div>
                <div class="attendance-cage-css"></div>
            </div>
        </div>
    </div>
<div id="changeatt" style="top:50px; left: 200px; position: absolute">Click me</div>
      <br>
      <div class="container" style=" position: relative">
        <div class="attendance">
            <p class="title">Brown</p>
            <div class="attendance-bar">
                <div class="attendance-level">
                    <div class="bar-1"></div>
                    <div class="bar-2"></div>
                    <div class="bar-3"></div>
                    <div class="bar-4"></div>
                    <div class="bar-5"></div>
                    <div class="bar-6"></div>
                    <div class="bar-7"></div>
                    <div class="bar-8"></div>
                    <div class="bar-9"></div>
                </div>
                <div class="attendance-cage-css"></div>
            </div>
        </div>
    </div>
      <br>
      <div class="container" style=" position: relative">
        <div class="attendance">
            <p class="title">Blue</p>
            <div class="attendance-bar">
                <div class="attendance-level">
                    <div class="bar-1"></div>
                    <div class="bar-2"></div>
                    <div class="bar-3"></div>
                    <div class="bar-4"></div>
                    <div class="bar-5"></div>
                    <div class="bar-6"></div>
                    <div class="bar-7"></div>
                    <div class="bar-8"></div>
                    <div class="bar-9"></div>
                </div>
                <div class="attendance-cage-css"></div>
            </div>
        </div>
    </div>


        <!--
        <div class="container">
            <div class="progress vertical">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
              </div>
            </div>
            <div class="progress vertical">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            </div>
            </div>
            <div class="progress vertical">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
            </div>
            </div>
             <div class="progress vertical">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
            </div>
            </div>
    </div> -->
  </body>
</html>